<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Appsettings.Standard" />
	</extensions>
	
	<targets>
		<target name="errorLogger"
        xsi:type="Database"
		connectionString="${appsettings:name=ConnectionStrings.DefaultConnection}"
		commandText="exec spInsertErrorLog
		@level,
		@callsite,
		@type,
		@message,
		@stackTrace,
		@innerException,
		@aditionalInfo">
		<parameter name="@level" layout="${level}"/>
			<parameter name="@callsite" layout="${callsite}"/>
			<parameter name="@type" layout="${exception:format=type}"/>
			<parameter name="@message" layout="${exception:format=message}"/>
			<parameter name="@stackTrace" layout="${exception:format=stackTrace}"/>
			<parameter name="@innerException" layout="${exception:method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}"/>
			<parameter name="@aditionalInfo" layout="${message}"/>
		</target>

		<target name="auditLogger"
        xsi:type="Database"
		connectionString="${appsettings:name=ConnectionStrings.DefaultConnection}"
		commandText="exec spInsertAuditLog
		@UserName,
		@LogType,
		@Message">
			<parameter name="@UserName" layout="${event-properties:UserName}" dbType="DbType.VarChar"/>
			<parameter name="@LogType" layout="${event-properties:LogType}" dbType="DbType.VarChar"/>
			<parameter name="@Message" layout="${message}"/>
		</target>
	</targets>

	<rules>
		<logger name="errorLogger" minlevel="Error" writeTo="errorLogger" />
		<logger name="auditLogger" minlevel="Info" writeTo="auditLogger" />
	</rules>
</nlog>