// BASE COLORS

$primary: #0459a9 !default;
$login-form-background: #f1f1f1 !default;
$top-row: #f7f7f7 !default;
$top-row-border: #d6d5d5 !default;
$foreground-light: #ffffff !default;
$success: #26b050 !default;
$fail: #dc3545 !default;